   <!--<md-toolbar color="warn" class="challenge-friends"><a ng-href="mailto:test@test.com">Challenge new friends &nbsp;>&nbsp;>&nbsp;></a></md-toolbar>-->
   <span class="friends-head">Friend Search</span> 
    <md-input-container class="full-width" color="warn">
      <span mdPrefix>To &nbsp;</span>
     <input #frndsearchBox mdInput type="text" placeholder="Search Friends Email" (keyup)="frndSearch($event)">
    </md-input-container>
    <div *ngIf="results?.length > 0">
    <md-list>
      <h3 md-subheader>Search Result</h3>
      <div *ngFor="let user of results">
      <md-list-item >
        <img *ngIf="user.photoUrl == null" md-list-avatar src="/resources/sw/swApp/distt/assets/img/user.png" alt="...">
        <img *ngIf="user.photoUrl != null" md-list-avatar src="{{user.photoUrl}}" alt="...">
        <h3 md-line>{{user.displayName}}</h3>
        <p md-line >{{user.email}}<p>
        <div *ngIf="user.email != currentUserEmail && !resultStatus[user.$key]">
          <span class="pull-right"><button md-raised-button class="btn-add" (click)="sendRequest(user,user.$key)">+ Add</button></span>
        </div>
        <div *ngIf="resultStatus[user.$key]!==false">
          <span class="pull-right frnd-message">{{resultStatus[user.$key]}}</span>
        </div>
      </md-list-item>
      </div>
    </md-list>
    </div>
    <div *ngIf="results?.length == 0">
      <md-list>
        <h3 md-subheader>No results found!!</h3>
      </md-list>
    </div>
    <!-- <md-list>
      <h3 md-subheader>Suggested Friends</h3>
      <md-list-item>
        <img md-list-avatar src="../../assets/img/user.png" alt="...">
        <h3 md-line>Justin Neil</h3>
        <p md-line><p>
      </md-list-item>
      <md-list-item>
        <img md-list-avatar src="../../assets/img/user.png" alt="...">
        <h3 md-line>Sean Schultz</h3>
        <p md-line>Schultz34@gmail.com<p>
      </md-list-item>
      <md-list-item>
        <img md-list-avatar src="../../assets/img/user.png" alt="...">
        <h3 md-line>Julia Parker</h3>
        <p md-line><p>
      </md-list-item>
    </md-list> -->