<md-sidenav-container fullscreen>
  <md-sidenav #sidenav class="sw-sidenav">
   <app-sw-side-nav-card></app-sw-side-nav-card>
   <app-sw-side-nav-list></app-sw-side-nav-list>   
  </md-sidenav>
<md-toolbar color="primary">
   <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
  </button>
  <span class="spacer">Side <b>WAGER</b></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>dialpad</md-icon>
      <span>Redial</span>
    </button>
    <button md-menu-item disabled>
      <md-icon>voicemail</md-icon>
      <span>Check voicemail</span>
    </button>
    <button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button>
  </md-menu>
</md-toolbar>
  <div class="sw-sidenav-content">
    <app-sw-tab-list></app-sw-tab-list>
  </div>
</md-sidenav-container>

 