.sw-sidenav-container {
  width: 100%;
  height:100%;
  max-height: 100vh;
  border: 0px solid rgba(0, 0, 0, 0.5);
}
.sw-sidenav {
  padding: 0px;
  max-height: 100%;
  overflow-y: hidden;
}
.wager-tab{
   background: #F44336; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F44336, #B71C1C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F44336, #B71C1C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F44336, #B71C1C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F44336, #B71C1C); 
    color: white;
}
md-sidenav {
  width: 70%;
}
.spacer{
  -webkit-box-flex: auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}
.mat-primary{
  background-color:#d00;
  color: #fff;
}
.chip-custom{
  padding: 0.2em 0.8em !important;
  font-size: 0.6em !important;
}
.scroll-sidenav{
  max-height: 81vh;
  overflow: scroll;
}
/*.sw-sidenav-content{
  overflow-y: hidden;
}*/

