<div class="date-comp">
<button md-button (click)="prevDate()"><i class="material-icons">keyboard_arrow_left</i></button>
<button md-button><i class="material-icons">today</i>{{currentDate| date: 'yMMMMEEEEd'}}</button>
<button md-button (click)="nextDate()"><i class="material-icons">keyboard_arrow_right</i></button>
</div>
<div *ngIf="isLoading">
<app-loading-spinner ></app-loading-spinner>
</div>
<div *ngFor="let sports of sportsList">
<header>
  <h1 class="wager-header">{{sports.shortName | uppercase}}</h1>
</header>
<div class="card-container" *ngFor="let game of sports.gameList">
<md-card class="md-card-padd">
<md-grid-list cols="16" rowHeight="5em">
  <md-grid-tile [colspan]="4" [rowspan]="1">
    <ul class="md-list-item-inner">
      <li>
        <span class="game-team-fullname">{{game.homeTeam}}</span>
      </li>
      <li>
        <span class="game-team-fullname">{{game.awayTeam}}</span>
      </li>
    </ul>
  </md-grid-tile>
  <md-grid-tile [colspan]="2" [rowspan]="1">
    <ul class="md-list-item-inner">
      <li>
        <span class="game-team-name">{{game.homeTeamShortName}}</span>
      </li>
      <li>
        <span class="game-team-name">{{game.awayTeamShortName}}</span>
      </li>
    </ul>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <ul class="md-list-item-inner md-list-item-inner-child">
      <li>
        <span class="game-team-name">{{game.pointSpread}}</span>
      </li>
      <li>
        <span class="game-team-name">{{game.underLine}}</span>
      </li>
    </ul>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <span class="game-time">{{game.matchTime}}</span>
   </md-grid-tile>
   <md-grid-tile [colspan]="1" [rowspan]="1">
    <md-divider class="vertical-divider"></md-divider>
   </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <button md-raised-button class="btn-wager" (click)="makeWager(game)"> WAGER</button>
  </md-grid-tile>
</md-grid-list>
</md-card>
</div>
</div>
