.pull-right{
    float:right;
}
.btn-confirm-payment {
color: #FFFFFF;
font-size: 0.8em;
font-weight: 400;
padding:0.5em 0;
line-height:1.2em;
background-color:#4CAF50;
}
.request-container{
    padding: 0.7em;
}
.color-green{
color: #06C957;
font-weight: 500;
font-size: 0.9em;
text-align: center;
float: right;
}
.color-gray{
color: #969696;
font-weight: 500;
font-size: 0.9em;
text-align: center;
float: right;
}
.friends{
   font-weight: bold; 
   font-size: 1em !important;
    /*width:100%;*/
    text-align: center;
}
.img-circle {
    border-radius: 50%;
    width: 3.5em;
    display: block;
    margin:0;
}
.header-section{
    margin: 1.5em auto;
}
.upto-text{
font-size: 0.6em;
margin-right: 0.4em;
font-weight: 500;
}
.text-content{
    font-size: 0.8em;
    font-weight: 600;
    color: black;
    
}
.card-container{
/*margin: 0.5em;   */
padding: 0.5em;
}
.no-padding{
    padding: 0;
    padding-right: 0.5em;
}