<div class="make-wager-parent-container">
  <div class="make-wager-container">
    <h2><span> Seal the deal!</span><span class="close" (click)="gotoTabs()"><i class="material-icons">clear</i></span></h2>

    <md-grid-list cols="13" rowHeight="30em">
   
      <md-grid-tile [colspan]="13" [rowspan]="1">
        <md-card class="md-card-padd-selected">
          <ul>
            <li>
                <span class="youhave-selected-h1">You've selected</span>
             </li>
            <div *ngIf="selectedTeam != null">
              <li>
                <span class="youhave-selected-h2">{{selectedTeam}}</span>
              </li>
              <li>
                <span class="youhave-selected-h3">{{selectedShortName}}</span>
              </li>
              <li>
                <span class="youhave-selected-h5">Game Info:</span>
              </li>
              <li>
                <span class="youhave-selected-h5">vs {{opTeam}}</span>
              </li>
            </div>
            <div *ngIf="uoValue != null">
              <li>
                <span class="youhave-selected-h2">{{uoValue}}</span>
              </li>
              <li>
                <span class="youhave-selected-h5">Game Info:</span>
              </li>
              <li>
                <span class="youhave-selected-h5">{{twager.game.homeTeam}} vs {{twager.game.awayTeam}}</span>
              </li>
            </div>
            <li>
              <span class="youhave-selected-h5">{{twager.game.matchDate}} @ {{twager.game.matchTime}}</span>
            </li>
            <li>
              <span class="youhave-selected-h4">{{twager.game.pointSpread}}</span>
            </li>
            <li>
              <span class="youhave-selected-h5">Wager Info:</span>
            </li>
            <div *ngIf="selectedFrnd==null">
              <li>
                <span class="youhave-selected-h5">Live Wager</span>
              </li>
              <li>
                <span class="youhave-selected-h4">Up to</span>
                <span class="youhave-selected-amt">{{twager.amount}} sc</span>
              </li>
            </div>
            <div *ngIf="selectedFrnd!=null">
              <li>
                <span class="youhave-selected-h5">Friendly Wager - {{selectedFrnd}}</span>
              </li>
              <li>
                  <span class="youhave-selected-amt">{{twager.amount}} sc</span>
                </li>
            </div>
            
            <li>
              <span class="youhave-selected-reminder">
                REMINDER: Pay day is on Wednesdays 
              </span>
            </li>
          </ul>
        </md-card>
      </md-grid-tile>
      
    </md-grid-list>
  </div>
  <div class="footer-parent">
      <div class="footer-links">
        <a class="back-link" (click)="gotoTabs()"><i class="material-icons">keyboard_arrow_left</i><span>Back</span></a>
        <a class="next-link" (click)="openDialog()"><span>Confirm</span><i class="material-icons">keyboard_arrow_right</i></a>
      </div>
    </div>
</div>