
<div *ngIf="liveWagers?.length > 0">
  <div class="scrolable-list">
<div class="card-container" *ngFor="let liveWager of liveWagers">
<md-card class="md-card-padd">
  <div class="bordered-bottom">
    <md-card-subtitle>
      <span *ngIf="liveWager.uoValue==null" class="selection">{{liveWager.userName}} Selected: {{liveWager.selectedTeam}} </span>
      <span *ngIf="liveWager.uoValue!=null" class="selection">{{liveWager.userName}} Selected: {{liveWager.uoValue}} </span>
      <div class="pull-right">
        <span class="upto-text">up to</span> 
        <span class="amount">{{liveWager.amount}} sc</span>
      </div>
    </md-card-subtitle>
  </div>
<md-grid-list cols="16" rowHeight="5em">
  <md-grid-tile [colspan]="4" [rowspan]="1">
    <ul class="md-list-item-inner">
      <li>
        <span class="game-team-fullname {{liveWager.selectedTeam==liveWager.game.homeTeamShortName?'color-green':''}}">{{liveWager.game.homeTeam}}</span>
      </li>
      <li>
        <span class="game-team-fullname {{liveWager.selectedTeam==liveWager.game.awayTeamShortName?'color-green':''}}">{{liveWager.game.awayTeam}}</span>
      </li>
    </ul>
  </md-grid-tile>
  <md-grid-tile [colspan]="2" [rowspan]="1">
    <ul class="md-list-item-inner">
      <li>
        <span class="game-team-name">{{liveWager.game.homeTeamShortName}}</span>
      </li>
      <li>
        <span class="game-team-name">{{liveWager.game.awayTeamShortName}}</span>
      </li>
    </ul>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <ul class="md-list-item-inner md-list-item-inner-child">
      <li>
        <span class="game-team-name">{{liveWager.game.pointSpread}}</span>
      </li>
      <li>
        <span class="game-team-name">{{liveWager.game.underLine}}</span>
      </li>
    </ul>
  </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <span class="game-time">{{liveWager.game.matchTime}}</span>
   </md-grid-tile>
   <md-grid-tile [colspan]="1" [rowspan]="1">
    <md-divider class="vertical-divider"></md-divider>
   </md-grid-tile>
  <md-grid-tile [colspan]="3" [rowspan]="1">
    <button md-raised-button class="btn-accept" (click)="accept(liveWager,liveWager.$key)"> ACCEPT</button>
  </md-grid-tile>
</md-grid-list>
</md-card>
</div>
  </div>
</div>
<div *ngIf="liveWagers?.length == 0">
    <md-list>
        <h3 md-subheader>No Live Wager!!</h3>
    </md-list>
</div>
