<div class="make-wager-parent-container">
<div class="make-wager-container">
<h2><span> Who's it gona be?</span><span class="close" (click)="gotoTabs()"><i class="material-icons">clear</i></span></h2>
<md-grid-list cols="13" rowHeight="14em" >
  <md-grid-tile [colspan]="6" [rowspan]="1">
    <md-card class="md-card-padd" >
      <ul>
        <li>
            <span class="caption-text">{{twager.game.homeTeam}}</span>
        </li>
        <li>
            <span class="short-name">{{twager.game.homeTeamShortName}}</span>
        </li>
        <li>
            <span class="record-text">Record: 32-33</span>
        </li>
        <li>
            <button md-raised-button class="btn-pick" (click)="gotoStep2(twager.game.homeTeamShortName)">Pick</button>
        </li>
      </ul>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1">
      <ul class="or-ul">
          <li>
              <md-divider class="vertical-divider"></md-divider>
          </li>
          <li>
            vs
          </li>
          <li>
              <md-divider class="vertical-divider"></md-divider>
          </li>
      </ul>
  </md-grid-tile>
  <md-grid-tile [colspan]="6" [rowspan]="1">
    <md-card class="md-card-padd">
      <ul>
        <li>
      <span class="caption-text">{{twager.game.awayTeam}}</span>
       </li>
        <li>
      <span class="short-name">{{twager.game.awayTeamShortName}}</span>
       </li>
        <li>
      <span class="record-text">Record: 26-29</span>
       </li>
        <li>
      <button md-raised-button class="btn-pick" (click)="gotoStep2(twager.game.awayTeamShortName)">Pick</button>
       </li>
      </ul>
    </md-card>
  </md-grid-tile>
</md-grid-list>
  <div>
      <ul>
        <li>
          <span class="game-info">Game Info:</span>
        </li>
        <li>
          <span class="game-info">{{twager.game.matchDate}} @ {{twager.game.matchTime}}</span>
        </li>
        <li>
          <span class="head-info">{{twager.game.pointSpread}}</span>
        </li>
        <li>
          <ul class="hline">
            <li>
            </li>
            <li>
                <span class="game-info"> OR</span>
            </li>
            <li>
            </li>
          </ul>
        </li>
      </ul>
  </div>
  <div>
  <md-grid-list cols="10" rowHeight="14em">
    <md-grid-tile [colspan]="1" [rowspan]="1">
    </md-grid-tile>
  <md-grid-tile [colspan]="8" [rowspan]="1">
    <md-card class="md-card-padd-overunder">
      <ul>
        <li>
            <span class="over-under">Over/Under</span>
        </li>
        <li>
            <button md-raised-button class="btn-pick" (click)="gotoStep2(twager.game.homeTeamShortName)">u {{twager.game.underLine}}</button>
            <button md-raised-button class="btn-pick" (click)="gotoStep2(twager.game.awayTeamShortName)">a {{twager.game.underLine}}</button>
        </li>
      </ul>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1">
  </md-grid-tile>
  </md-grid-list>
  </div>
</div>
<div class="footer-parent">
  <div class="footer-links">
    <a class="back-link" (click)="gotoTabs()"><i class="material-icons">keyboard_arrow_left</i><span>Back</span></a>
    <a class="next-link" ><span>Next</span><i class="material-icons">keyboard_arrow_right</i></a>
  </div>
</div>
</div>

 
 <!--<app-back-next-component></app-back-next-component>-->