<div class="request-container">
  <div class="pull-right">
    <span class="text-content">Weekly Total:</span><span class="color-green">$550</span>
  </div>
<div class="header-section">
 <md-grid-list cols="4" rowHeight="1.5em">
  <md-grid-tile class="text-content">Friend</md-grid-tile>
  <md-grid-tile class="text-content">HTP</md-grid-tile>
  <md-grid-tile class="text-content">Amount</md-grid-tile>
  <md-grid-tile></md-grid-tile>
</md-grid-list>
<div class="card-container" *ngFor="let frnd of listFrinds">
<md-card class="no-padding">
<md-grid-list cols="4" rowHeight="4em">
  <md-grid-tile>
    <div class="friends">
      <img class="img-circle" src="{{frnd.imgSource}}" alt=""/>
      <!--<div md-card-avatar><i class="material-icons">account_circle</i></div>-->
      <span class="text-content">{{frnd.Name}}</span>
    </div>
  </md-grid-tile>
  <md-grid-tile>
    <span>{{frnd.HTP}}</span>
  </md-grid-tile>
  <md-grid-tile>
    <span>${{frnd.Amount}}</span>
  </md-grid-tile>
  <md-grid-tile>
      <button md-raised-button class="btn-wager">View Wager</button>
  </md-grid-tile>
</md-grid-list>  
</md-card>
</div>
  </div>
</div>
