.wager-header{
font-size: 1.5em;
color:#4D4D4D;
margin: 0.5em 0;
padding-left: 1em;
}
.game-time{
color:#969696;
font-size: 0.6em;
text-align: center;
}

.game-team-fullname{
    font-size: 0.8em;
    font-weight: 700;
    font-size: 0.8em;
    font-weight: 700;
    overflow: hidden;
    text-align: left;
    display: block;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    margin-left:0.2em;
}
.game-team-name{
    font-size: 0.6em;
   padding-left: 0 !important;
   font-weight:500; 
}
.md-list-item-inner {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    line-height: 2em;
    width: 100%;
}
.md-list-item-inner-child{
    line-height: 1em;
}
.md-card-padd{
   padding: 0.5em !important;
}
.btn-accept {
    color: #FFFFFF;
    font-size: 0.5em;
    font-weight: 400;
    background-color:#2A9FD8;
    height: 3em;
    line-height: 1.5em;
    min-width: 1em;
}
.card-container{
    margin: 0.5em;   
    padding: 0.5em;
}
.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    color:#969696;
    height: 65%;
}
.pull-right{
    float:right;
}
.bordered-bottom{
    border-bottom : 1px solid #ccc;
}
.selection{
    font-size: 1em;
    color: #000;
    font-weight: 500;
}
.amount{
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}
.upto-text{
    font-size: 0.9em;
    margin-right: 0.2em;
    font-weight: 800;
}
.header-container{
    padding: 1em;
    padding-bottom:0; 
    color:black;
    font-size:1em; 
}
.color-green{
    color: #06C957;
    font-weight: 500;
    font-size: 0.9em;
}
.side-credit{
    display: inline;
    font-size:0.6em;
    font-weight: 600; 
}
.upto-text-summary{
    font-size: 0.5em;
    margin-right: 0.2em;
    font-weight: 600;
}
.game-price{
font-size: 1em;
font-weight: 600;
padding-bottom:0.3em; 
text-align: center;
align-content: center;
}
.md-card-subtitle{
    margin-bottom:0.5em !important; 
}
ul{
    text-align: center;
    align-content: center;
}
.scrolable-list{
    max-height: 72vh;
    min-height: 72vh;
    overflow: scroll;
}
/*.pull-right{
    float:right;
}
.btn-wager {
color: #FFFFFF;
font-size: 0.8em;
font-weight: 400;
padding:0.5em 0;
line-height:1.5em;
background-color:#2A9FD8;
}
.request-container{
    padding: 0.7em;
}
.color-green{
color: #40D47D;
font-weight: bold;
}
.friends{
   font-weight: bold; 
   font-size: 0.7em;
    width:100%;
    text-align: center;
}
.img-circle {
    border-radius: 50%;
    width: 3.5em;
    display: block;
    margin:auto;
}
.header-section{
    margin: 1.5em auto;
}

.text-content{
    font-size: 0.8em;
    font-weight: 500;
}
.card-container{
padding: 0.5em;
}
.no-padding{
    padding: 0;
    padding-right: 0.5em;
}
.upto-text{
font-size: 0.6em;
margin-right: 0.4em;
font-weight: 500;
}*/
