<md-nav-list>
  <a md-list-item routerLink="#">Friends &nbsp;
    <md-chip-list><md-chip color="primary"> 2</md-chip></md-chip-list>
  </a>
  <a md-list-item routerLink="#">Wager History</a>
  <a md-list-item routerLink="#">FAQs</a>
  <a md-list-item routerLink="#"><i>SideWAGER</i> &nbsp;Feedback</a>
  <hr/>
  <a md-list-item routerLink="#"><b>Sports</b></a>
  <a md-list-item routerLink="#">Pro Football</a>
  <a md-list-item routerLink="#">Pro Basketball</a>
  <a md-list-item routerLink="#">Pro Baseball</a>
  <a md-list-item routerLink="#">College Football</a>  
  <a md-list-item routerLink="#">College Basketball</a>  
  <a md-list-item routerLink="#">Soccer</a>  
  <a md-list-item routerLink="#">Golf</a>  
</md-nav-list>