<div class="tab-content">
<md-tab-group md-stretch-tabs class="tab-group-container">
   <md-tab>
    <ng-template md-tab-label>
      <b class="sw-tabs">Games</b>
    </ng-template>
    <app-games-wager></app-games-wager>
    <button md-fab color="warn" class="btn-add"><md-icon>add</md-icon></button>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <b class="sw-tabs">Live Wagers</b>
    </ng-template>
    <app-live-wagers></app-live-wagers>
    <button md-fab color="warn" class="btn-add"><md-icon>add</md-icon></button>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <b class="sw-tabs">Open Wager</b>
      <md-chip color="primary">2</md-chip>
    </ng-template>
    <app-open-wagers-tab></app-open-wagers-tab>
  </md-tab>
</md-tab-group>
</div>