<div class="make-wager-parent-container">
<div class="make-wager-container">
<h2><span> What kind of Wager?</span><span class="close" (click)="gotoTabs()"><i class="material-icons">clear</i></span></h2>
<md-grid-list cols="13" rowHeight="14em">
  <md-grid-tile [colspan]="6" [rowspan]="1">
    <md-card class="md-card-padd">
      <ul>
        <li>
            <!--<i class="material-icons">supervisor_account</i>-->
            <i class="material-icons">pan_tool</i>
        </li>
        <li>
            <span class="header-text">Friendly Wager</span>
        </li>
        <li>
            <span class="instruction-text">Someone from your friend list</span>
        </li>
      </ul>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1">
      <ul class="or-ul">
          <li>
              <md-divider class="vertical-divider"></md-divider>
          </li>
          <li>
            or
          </li>
          <li>
              <md-divider class="vertical-divider"></md-divider>
          </li>
      </ul>
  </md-grid-tile>
  <md-grid-tile [colspan]="6" [rowspan]="1">
    <span (click)="gotoStep4()">
    <md-card class="md-card-padd" >
      <ul>
        <li>
            <i class="material-icons">settings_input_antenna</i>
       </li>
        <li>
          <span class="header-text">Live Wager</span>
       </li>
        <li>
          <span class="instruction-text">Put it out there for any friend in SideWager </span>
       </li>
      </ul>
    </md-card>
    </span>
  </md-grid-tile>
</md-grid-list>
<div>
<md-grid-list cols="13" rowHeight="20em">
   
  <md-grid-tile [colspan]="13" [rowspan]="1">
    <md-card class="md-card-padd-selected">
      <ul>
        <li>
            <span class="youhave-selected-h1">You've selected</span>
       </li>
        <li>
          <span class="youhave-selected-h2">{{selectedTeam}}</span>
       </li>
       <li>
          <span class="youhave-selected-h3">{{twager.selectedTeam}}</span>
       </li>
       <li>
          <span class="youhave-selected-h4">{{twager.game.pointSpread}}</span>
       </li>
       <li>
          <span class="youhave-selected-h5">Game Info:</span>
       </li>
       <li>
          <span class="youhave-selected-h5">vs {{opTeam}}</span>
       </li>
        <li>
          <span class="youhave-selected-h5">{{twager.game.matchDate}} @ {{twager.game.matchTime}}</span>
       </li>
      </ul>
    </md-card>
  </md-grid-tile>
  
</md-grid-list>
</div>
</div>
<div class="footer-parent">
  <div class="footer-links">
    <a class="back-link" (click)="gotoTabs()"><i class="material-icons">keyboard_arrow_left</i><span>Back</span></a>
    <a class="next-link" ><span>Next</span><i class="material-icons">keyboard_arrow_right</i></a>
  </div>
</div>
</div>