<div class="make-wager-parent-container">
<div class="make-wager-container">
<h2><span> What kind of Wager?</span><span class="close" (click)="gotoTabs()"><i class="material-icons">clear</i></span></h2>
<md-grid-list cols="13" rowHeight="12em">
  <md-grid-tile [colspan]="6" [rowspan]="1">
    <md-card class="md-card-padd">
      <ul>
        <li>
            <!--<i class="material-icons">supervisor_account</i>-->
            <i class="material-icons">pan_tool</i>
        </li>
        <li>
            <span class="header-text">Friendly Wager</span>
        </li>
        <li>
            <span class="instruction-text">Someone from your friend list</span>
        </li>
      </ul>
    </md-card>
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1">
    or
  </md-grid-tile>
  <md-grid-tile [colspan]="6" [rowspan]="1">
    <md-card class="md-card-padd">
      <ul>
        <li>
            <i class="material-icons">settings_input_antenna</i>
       </li>
        <li>
          <span class="header-text">Live Wager</span>
       </li>
        <li>
          <span class="instruction-text">Put it out there for any friend in SideWager </span>
       </li>
      </ul>
    </md-card>
  </md-grid-tile>
</md-grid-list>
</div>
</div>