 <div class="login-container">
   <div class="login-header">
      <h1><span>SideWAGER</span></h1> 
      <p>A peer to peer SPORTSBOOK</p> 
   </div>
  
  <ul class="login-list-items">
    <!-- <li> 
        <input placeholder="Email" value="" required 
            [(ngModel)] = "email">
    </li>
    <li> 
        <input placeholder="Password" value="" type="password" required 
            [(ngModel)] = "password">  
     </li>
     <li>
       <button md-raised-button class="btn-ann" (click)="loginWithEmail()">Login</button>
     </li>
     <li>
       <button md-raised-button class="btn-ann" (click)="registerWithEmail()">Register</button>
     </li> <md-icon>input</md-icon>-->
    <li> 
      <button md-raised-button class="btn-google" (click)="loginWithGoogle()">
        <img src="../../assets/img/google-logo.png" class="google-img"/>
        <span class="google-text">Sign in with Google</span>
      </button>
    </li>
    <!-- <li> 
     <button md-raised-button class="btn-fb" (click)="loginWithFaceBook()"><md-icon>perm_identity</md-icon>Login with facebook</button>
     </li> -->
  </ul>
 </div>
  