 <div class="login-container">
  <h1>SideWAGER</h1> 
  <p>A peer to peer SPORTSBOOK</p> 
  <ul class="login-list-items">
    <li> 
        <input placeholder="Email" value="">
    </li>
    <li> 
        <input placeholder="Password" value="" type="password">  
     </li>
     <li>
       <button md-raised-button class="btn-ann">Login</button>
     </li>
    <li> 
      <button md-raised-button class="btn-google" (click)="login()"><md-icon>input</md-icon>Login with Google</button>
    </li>
    <li> 
     <button md-raised-button class="btn-fb"><md-icon>perm_identity</md-icon>Login with facebook</button>
     </li>
  </ul>
 </div>
  