<div *ngIf="pendingList?.length > 0">
<md-list dense>
  <h3 md-subheader>Friends Request</h3>
  <div *ngFor="let pending of pendingList">
  <md-list-item>
        <img md-list-avatar src="{{pending.photoUrl}}" alt="...">
        <h3 md-line>{{pending.displayName}}</h3>
        <p md-line>{{pending.email}}</p>
        <span class="pull-right"><button md-raised-button class="btn-add" (click)="acceptRequest(pending,pending.$key)">+ Add</button></span>
        <span class="pull-right"><button md-raised-button class="btn-ignore" (click)="rejectRequest(pending,pending.$key)"> Ignore</button></span>
  </md-list-item>
  </div>
</md-list>
<hr>
</div>
<div *ngIf="friendList?.length > 0">
<md-list dense>
  <h3 md-subheader>Friends List</h3>
  <div *ngFor="let friend of friendList">
  <md-list-item>
    <img md-list-avatar src="{{friend.photoUrl}}" alt="...">
    <h3 md-line>{{friend.displayName}}</h3>
    <p md-line>{{friend.email}}</p>
     <span class="pull-right"><button md-raised-button class="btn-ignore" (click)="rejectRequest(pending,pending.$key)"> Edit</button></span>
  </md-list-item>
  </div>
</md-list>
</div>
<div *ngIf="friendList?.length == 0">
  <md-list>
    <h3 md-subheader>Add some friends!!</h3>
  </md-list>
</div>