<md-list dense>
  <h3 md-subheader>Friends Request</h3>
  <md-list-item>
        <img md-list-avatar src="../../assets/img/user.png" alt="...">
        <h3 md-line>Justin Neil</h3>
        <p md-line>Schultz34@gmail.com</p>
        <span class="pull-right"><button md-raised-button class="btn-add">+ ADD</button></span>
  </md-list-item>
  <md-list-item>
    <img md-list-avatar src="../../assets/img/user.png" alt="...">
    <h3 md-line>Sean Schultz </h3>
    <p md-line>Schultz34@gmail.com</p>
    <span class="pull-right"><button md-raised-button class="btn-add">+ ADD</button></span>
  </md-list-item>
  <md-list-item>
    <img md-list-avatar src="../../assets/img/user.png" alt="...">
    <h3 md-line>Julia Parker</h3>
    <p md-line></p>
     <span class="pull-right"><button md-raised-button class="btn-add">+ ADD</button></span>
  </md-list-item>
</md-list>
<hr>
<md-list dense>
  <h3 md-subheader>Friends List</h3>
  <md-list-item>
    <img md-list-avatar src="../../assets/img/user.png" alt="...">
    <h3 md-line>Justin Neil</h3>
    <p md-line></p>
    <span class="pull-right"><button md-raised-button class="btn-add">+ ADD</button></span>
  </md-list-item>
  <md-list-item>
    <img md-list-avatar src="../../assets/img/user.png" alt="...">
    <h3 md-line>Sean Schultz</h3>
    <p md-line>Schultz34@gmail.com</p>
    <span class="pull-right"><button md-raised-button class="btn-add">+ ADD</button></span>
  </md-list-item>
  <md-list-item>
    <img md-list-avatar src="../../assets/img/user.png" alt="...">
    <h3 md-line>Julia Parker</h3>
    <p md-line></p>
    <span class="pull-right"><button md-raised-button class="btn-add">+ ADD</button></span>
  </md-list-item>
</md-list>
