<div class="tab-content">
<md-tab-group md-stretch-tabs class="tab-group-container">
   <md-tab>
    <ng-template md-tab-label>
      <b class="open-wager-tabs">Wagers</b>
      <md-chip color="primary" class="chip-custom">{{openWagersTabCount}}</md-chip>
    </ng-template>
    <!-- <app-open-wagers-winnings></app-open-wagers-winnings> -->
    <app-weekly-game-list></app-weekly-game-list>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <b class="open-wager-tabs">Requests</b>
      <md-chip color="primary" class="chip-custom">{{openWagersRequestTabCount}}</md-chip>
    </ng-template>
    <app-open-wagers-requests></app-open-wagers-requests>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <b class="open-wager-tabs">Results</b>
      <md-chip color="primary" class="chip-custom">{{openWagersResultTabCount}}</md-chip>
    </ng-template>
    <app-open-wagers-losses></app-open-wagers-losses>
  </md-tab>
</md-tab-group>
</div>