<div class="tab-content">
<md-tab-group md-stretch-tabs class="tab-group-container">
   <md-tab>
    <ng-template md-tab-label>
      <md-chip color="primary">2</md-chip>
      <b class="open-wager-tabs">Winnings</b>
    </ng-template>
    <app-open-wagers-winnings></app-open-wagers-winnings>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-chip color="primary">2</md-chip>
      <b class="open-wager-tabs">Wager Requests</b>
    </ng-template>
    <app-open-wagers-requests></app-open-wagers-requests>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-chip color="primary">2</md-chip>
      <b class="open-wager-tabs">Looses</b>
    </ng-template>
    <app-open-wagers-losses></app-open-wagers-losses>
  </md-tab>
</md-tab-group>
</div>