.profile-image {
  background-image: url('../../assets/img/user.png');
  background-size: cover;
  background-color:#ccc;
}
.profile-card{
  background: #F44336; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#F44336, #B71C1C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#F44336, #B71C1C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F44336, #B71C1C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F44336, #B71C1C); 
  color: #fff;
  padding-bottom: 0;
}
.sw-sidenav-searchBox{
width: 100%;
}
.mat-card-subtitle{
  color: white;
}

.img-circle {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    display: block;
    margin:0;
}
.aviator{
   width: 4.5em;
    height: 4.5em;
}
