 <md-card class="profile-card">
      <md-card-header>
        <div md-card-avatar class="aviator"><img tabindex="0"class="img-circle" src="{{photoUrl}}" alt="{{displayName}} profile picture"/></div>
        <md-card-title>{{displayName}}</md-card-title>
        <!--<md-card-subtitle>HTP Rate: 12.5</md-card-subtitle>-->
      </md-card-header>
      <!--<md-card-content>
        <md-grid-list cols="12" rowHeight="4em">
          <md-grid-tile colspan="10">
            <md-input-container color="white" class="sw-sidenav-searchBox">
               <md-icon mdPrefix>search</md-icon>
               <input mdInput placeholder="Search for Teams"/>
            </md-input-container>
          </md-grid-tile>
          <md-grid-tile colspan="2">
            <md-icon>settings</md-icon>
          </md-grid-tile>
        </md-grid-list>
      </md-card-content>-->
    </md-card>